@model footballstats.Models.DomainTeam

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>DomainTeam</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="GoalsLost" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="GoalsLost" class="form-control" />
                <span asp-validation-for="GoalsLost" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="GoalsWon" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="GoalsWon" class="form-control" />
                <span asp-validation-for="GoalsWon" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LossesDuringAddedTime" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LossesDuringAddedTime" class="form-control" />
                <span asp-validation-for="LossesDuringAddedTime" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LossesDuringMainTime" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="LossesDuringMainTime" class="form-control" />
                <span asp-validation-for="LossesDuringMainTime" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Points" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Points" class="form-control" />
                <span asp-validation-for="Points" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Title" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="WinsDuringAddedTime" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="WinsDuringAddedTime" class="form-control" />
                <span asp-validation-for="WinsDuringAddedTime" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="WinsDuringMainTime" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="WinsDuringMainTime" class="form-control" />
                <span asp-validation-for="WinsDuringMainTime" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
